<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./Tests/Functional/app/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true">
    <testsuites>
        <testsuite name="ddeboer/vatin-bundle test suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <server name="KERNEL_DIR" value="./Tests/Functional/app"/>
        <server name="KERNEL_CLASS" value="AppKernel"/>
        <ini name="default_socket_timeout" value="3"/>
    </php>
</phpunit>